<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="">post list</a>
    <a href="">user list</a><br>
    <a href="">post create for admin</a>
    <a href="">user create for admin</a><br>
    <a href="">post create confirm</a>
    <a href="">user create confirm</a><br>
    <a href="">post update for admin</a>
    <a href="">user update for admin</a><br>
    <a href="">post update confirm</a>
    <a href="">user update confirm</a><br>
    <a href="">cvs upload</a>
</body>
</html>